# DB connection
DB_URL=postgresql://postgres:postgres@localhost:5432/coastalclear
# AWS S3 uploads
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=coastalclear-reporting
# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SECRET_KEY=
