.signup-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.signup-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 300;
    width: 100%;
    margin-bottom: 20px;
}

.signup-form-input {
    background-color: white;
    border: 2px solid #E8E8E8;
    width: 100%;
    font-family: 'Manrope', sans-serif !important;
    font-weight: 300;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 2%;
    margin-top: 5px;
}

.signup-form-button {
    background-color: #0D3B66;
    color: white;
    padding-left: 53px;
    padding-right: 53px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    height: 46px;
    border-radius: 9px;
    border: none;
}