# Client ID for a Google OAuth application
# https://developers.google.com/identity/protocols/oauth2
REACT_APP_GOOGLE_AUTH_ID=
# https://docs.mapbox.com/help/getting-started/access-tokens/
REACT_APP_MAPBOX_ACCESS_TOKEN=
# Backend API endpoint
REACT_APP_API=https://localhost:8000
